body{
    background-color:#F0F0F0;
    margin: 0px;
    font-family: Verdana;
}

.displaywrap{ /*paramètre*/
    display: flex;
    flex-wrap: wrap;
}


/*Date + Bouton*/
#header{
    position: fixed;
    font-size: 75%;
    text-align: center;
    color: white   ;
    background-color: #393939;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    width: 100%;
    margin:0px;
    z-index: 2;
}

#sshead{
    display: block;
    margin: 10px;

}
.csslr{ /* les 2 boutons*/
    color: #00aeb7;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #00aeb7;
    width: 50px;
    padding : 5px;
    font-size: 15px;
    font-weight: 900;
    box-shadow: 0px 4px;
}
.csslr:hover{
    border: 2px solid #5fd5db;
    color:#5fd5db;
}
.csslr:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px;

}
.stylebt{
    font-family: Verdana;
    color: #00aeb7;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #00aeb7;
    padding : 5px;
    box-shadow: 0px 4px;
    font-weight: bold;

}
.stylebt:hover{
    border: 2px solid #5fd5db;
    color:#5fd5db;
}
.stylebt:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px;
}

#admin{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
}

#fermer{
    float: right;
}






/*CALENDRIER*/
#calendrier{
    position: absolute;
    margin: 150px 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

}

.case{
    width: 100%;
    height: 45px;
    padding: 20px;
    background-color: #30BBC2;
    border: solid black 1px;
    padding: 0.5%;

   
}
.casei{
    width: 0;
    height: 0;
    border: solid black 1px;
    opacity: 0;
    padding: 5%;
    position: absolute;

}

.casej{    
    display: none;
}
.casenj{
   /* background-color: yellow;*/
    width: 2%;
    
}
.casem{
    /*background-color: green;*/
    width: 7%;
    /*height: 50%;*/
   margin-left: 2%;

}


/*POPUP*/
.popup{
  
    z-index: -1; /*couche initial*/
    margin: auto;
    background-color: #F0F0F0;
    border: solid #393939 2px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.popup-admin{
    
    z-index: -2; /*couche initial*/
    margin: auto;
    background-color: #F0F0F0;
    border: solid #393939 2px;
    padding: 30px;
    
    
}
#video{
    padding: 20px 20px;
}
#audio{
    padding: 20px 20px;
}
#accesoire{
    padding: 20px 20px;
}
#lumiere{
    padding: 20px 20px;
}


#choix{
    border: solid 1px black; 
    border-radius: 2px;
    display: wrap;

}

#ajax-loading{
     z-index: 10;
     width: 100vw;
     height: 70vh;
    position: absolute;
     display: flex;
     
    
    
    
}

.loader{
    margin: auto;

     
}

#contain_pop{

     z-index: -1;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    opacity: 0;


}
#contain_admin{
     z-index: -1;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

#dark{
    margin: -50px 0px 0px -8px;
    position: absolute;
    z-index: -3; /*couche initial*/
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
}