html{
    margin: 0;
    top: 0;
}


body{
    background-color: #F0F0F0;
    font-family: Verdana;
}

label {
    display:block;
    width: 150px;
    float: left;
}

p{
    margin: 0;
    text-align: center;
    font-family: Verdana;
    color: white;
    background-color: #393939;
    border-radius: 10px;
    border: 2px solid black;
    padding : 5px;
    /*box-shadow: 0px 4px;*/
    font-weight: bold;

}

.displaywrap{ /*paramètre*/
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

#dark{
    margin: -50px 0px 0px -8px;
    position: absolute;
    z-index: -3; /*couche initial*/
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#container{
    min-width: 700px;
    margin: 50px 100px;
}



/*HEAD   (Date + Bouton)*/
#header{
    color: #00aeb7;
    text-align: center;
   
}
#sshead{
    margin:auto;
    display: inline-block;
}
.csslr{ /* les 2 boutons*/
    color: #00aeb7;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #00aeb7;
    width: 85px;
    height: 30px;
    font-size: 15px;
    font-weight: 900;
    box-shadow: 0px 4px;
}
.csslr:hover{
    border: 2px solid #5fd5db;
    color:#5fd5db;
}
.csslr:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px;

}
.stylebt{
    font-family: Verdana;
    color: #00aeb7;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #00aeb7;
    padding : 5px;
    box-shadow: 0px 4px;
    font-weight: bold;

}
.stylebt:hover{
    border: 2px solid #5fd5db;
    color:#5fd5db;
}
.stylebt:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px;
}

#fermer{
    float: right;
}




/*CALENDRIER*/
@keyframes scan{
    0%{
        background: #00aeb7;

    }
    50%{
        background-color:#52d9e0;
    }
}
#calendrier{
    margin-top: 20px;
}
.case{
    /*z-index: 0;*/
    width: 13%;
    height: 50px;
    background-color: #30BBC2;
    border: solid black 1px;
    padding: 0.5%;
    cursor: pointer;
}
.case:hover{
    
    animation: scan 0.8s infinite;
}

.casei{ /*case invisible*/
    width: 13%;
    height: 50px;
    border: solid black 1px;
    background-color: white;
    padding: 0.5%;
}

.casej{ /*jour de la semaine */
    color: white;
    font-weight: bold;
    text-align: center;
    width: 13%;
    z-index: 1; /*couche initial*/
    background-color: #393939;
    border: solid black 1px;
    padding: 0.5%;
    opacity: 1;
    display: block;


}



/*POPUP*/
.popup{
    padding: 50px;
    z-index: -1; /*couche initial*/
    margin: auto;
    background-color: #F0F0F0;
    border: solid #393939 5px;
  
    
}

#contain_pop{

     z-index: -1;
    position: absolute;
    display: flex;
    height: 70%;
    width: 100%;
    opacity: 0;


}
.popup-admin{
    z-index: -2; /*couche initial*/
    margin: auto;
    background-color: #F0F0F0;
    border: solid #393939 5px;
    padding: 20px;
   
    
}

#contain_admin{
     z-index: -1;
    position: absolute;
    display: flex;
    height: 80%;
    width: 100%;
    opacity: 0;
}

#ajax-loading{
     z-index: 10;
     width: 100%;
     height: 70%;
    position: absolute;
     display: flex;
     
    
    
    
}

.loader{
    margin: auto;

     
}



#video{
    padding: 20px 20px;
    border-right: #bdbdbd solid 1px;
}


.titre_video{
    font-size: 18px; 
}

#audio{
    padding: 20px 20px;
    border-right: #bdbdbd solid 1px;

}

.titre_audio{
    font-size: 18px;
}

#accesoire{
    padding: 20px 20px;
    border-right: #bdbdbd solid 1px;

}

.titre_access{
    font-size: 18px;
}

#lumiere{
    padding: 20px 20px;
}

.titre_lumi{
    font-size: 18px;
}

.casem{
    
   display: none;
  
}

#choix{
    border: solid 1px black; 
    border-radius: 2px;
    display: wrap;

}

#contain_reserv{
    margin: 20px;
}

.reserv{
    margin: 15px;
}

